.palito{
    width: 30px;
    height: 80px;
    background-color: black;
}
.semaforo{
    width: 160px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 5px;
    border-radius: 15px;
}
.luz{
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    border-radius: 50%;
}

.brillo{
    box-shadow: 0px 0px 26px 7px rgba(255,255,163,0.9);
}